$colors: ("primary": #31A09B,
    "secondary": #44d7b6,
    "tertiary": #0091FF,
    "cancel": #6F6F6F,
    "background": #232A33,
    "sidebar": #393E46,
    "navbar": #232A33,
    "input": #f0f0f0,
    "active-input": #dfdfdf,
    "negative-transaction": #FF5B57,
    "positive-transaction": #4FD889);

$navbarHeight: 64px;
$sidebarWidth: 176px;